body{
    background-color:rgb(23,4,44);
}

.container{
    display:grid;
    width: 100%;
    margin:1%;
    margin-top: 1;
    grid-template-columns: 30px repeat(7,1fr);
    grid-template-rows: 70px 400px 1fr;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";

}



.box{
    border: 1px solid red;
    background: grey;
}

.header{
    grid-area: hd;
}

.footer{
    grid-area: ft;
}

.sidebar{
    grid-area: sd;
}

.content{
    grid-area: main;
}






